body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #020617;
  color: white;
}

.main-header {
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px solid #1e293b;
}

.main-header h1 {
  font-size: 18px;
  margin-bottom: 8px;
}

.top-info {
  font-size: 13px;
  opacity: 0.85;
}

.container {
  display: flex;
  flex-direction: column;
}

.camera-section {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

video {
  width: 100%;
  max-height: 40vh;
  border-radius: 14px;
  object-fit: cover;
}

.control-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  padding: 14px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.primary {
  background: #22c55e;
  color: black;
}

.leave-btn {
  background: #3b82f6;
  color: white;
}

.complaint-btn {
  background: #ef4444;
  color: white;
}

.secondary {
  background: #334155;
  color: white;
}

#status {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #22c55e;
}

/* Desktop layout */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .camera-section {
    flex: 7;
    max-height: 80vh;
  }

  .control-section {
    flex: 3;
    justify-content: center;
  }

  video {
    max-height: 80vh;
  }
}
